data/*.pickle
data/*.json
.DS_Store
.vscode

# Ignore copied git repos
scripts/DeepMove
scripts/IJCAI-TULVAE

.ipynb_checkpoints
__pycache__

writing
papers

# TF checkpoints
*/runs/*

models/*


# MoveSim stuff
M1.npy
M2.npy
real.data
test.data
val.data
